<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://www.flaticon.com/svg/static/icons/svg/3612/3612518.svg">
  <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="styles.css">
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 
  <script defer src="/js/client.js"></script>     
  <title>Steam API test</title>
</head>
<body>
  <header>
  <nav>
    <div class="nav-wrapper purple darken-4">
      <a href="/" class="brand-logo right"><img src="https://www.flaticon.com/svg/static/icons/svg/3612/3612518.svg" alt="controller" height="50px" width="50px"></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a id="1091500" href="/cyberpunk">Cyberpunk 2077</a></li>
        <li><a id="532790" href="/vampire">Vampire: The Masquerade® - Bloodlines™ 2</a></li>
        <li><a id="534380" href="/dyinglight2">Dying Light 2</a></li>
      </ul>
    </div>
  </nav>
  </header>
  {{{body}}}
</video>
</body>
</html>
